[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "cpp00"]
	path = cpp00
	url = git@github.com:kamitsui/cpp00.git
[submodule "cpp_getting_start"]
	path = cpp_getting_start
	url = git@github.com:kamitsui/cpp_getting_start.git
[submodule "cpp0x_base"]
	path = cpp0x_base
	url = git@github.com:kamitsui/cpp0x_base.git
[submodule "cpp01"]
	path = cpp01
	url = git@github.com:kamitsui/cpp01.git
[submodule "cpp02"]
	path = cpp02
	url = git@github.com:kamitsui/cpp02.git
[submodule "cpp_module_tester"]
	path = cpp_module_tester
	url = git@github.com:kamitsui/cpp_module_tester.git
[submodule "cpp03"]
	path = cpp03
	url = git@github.com:kamitsui/cpp03.git
[submodule "cpp04"]
	path = cpp04
	url = git@github.com:kamitsui/cpp04.git
